apsw==3.40.0.0
argcomplete==2.0.0
autopep8==2.0.2
bcrypt==4.0.1
Beaker==1.10.0
beautifulsoup4==4.11.2
blivet==3.5.0
blivet-gui==2.4.0
Brlapi==0.8.4
cachelib==0.10.2
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
click==8.1.3
cryptography==37.0.2
cs50==9.2.5
css-parser==1.0.7
cupshelpers==1.0
dasbus==1.6
dbus-python==1.3.2
defusedxml==0.7.1
distro==1.7.0
dnspython==2.2.1
fedora-third-party==0.10
feedparser==6.0.10
ffmpeg-python==0.2.0
file-magic==0.4.0
filelock==3.8.2
Flask==2.2.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
fros==1.1
future==0.18.2
gpg==1.17.0
greenlet==1.1.2
gunicorn==20.1.0
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
huggingface-hub==0.11.1
humanize==3.13.1
idna==3.3
ifaddr==0.1.7
itsdangerous==2.1.2
jeepney==0.8.0
Jinja2==3.1.2
langtable==0.0.61
libcomps==0.1.18
lxml==4.9.1
Mako==1.1.4
Markdown==3.4.1
MarkupSafe==2.1.1
mechanize==0.4.8
more-itertools==9.0.0
msgpack==1.0.4
netifaces==0.11.0
nftables==0.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
odfpy==1.4.1
olefile==0.46
packaging==21.3
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==9.2.0
ply==3.11
productmd==1.35
psutil==5.9.1
psycopg2-binary==2.9.5
ptyprocess==0.6.0
pwquality==1.4.5
pycairo==1.21.0
pychm==0.8.6
pycodestyle==2.10.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
Pygments==2.12.0
PyGObject==3.42.2
pykickstart==3.41
pynvim==0.4.3
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
PyQt5==5.15.6
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.4
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-meh==0.50
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.18.0
selinux==3.4
semantic-version==2.10.0
sepolicy==3.4
setools==4.4.0
setuptools-rust==1.5.2
sgmllib3k==1.0.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.4
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
sqlparse==0.4.3
systemd-python==235
Tempita==0.5.2
termcolor==2.2.0
tokenizers==0.13.2
torch==1.13.0
tqdm==4.64.1
transformers==4.25.1
typing_extensions==4.4.0
urllib3==1.26.12
webencodings==0.5.1
Werkzeug==2.2.3
whisper @ git+https://github.com/openai/whisper.git@b9265e5796f5d80c18d1f9231ab234225676780b
WTForms==3.0.1
zeroconf==0.38.7
